<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
	<br>

	<center>
	    <h2>Project</h2>
        <h4>Credit (Tutorial and Materials):</h4>
		<h4>
			<a href="https://developer.ibm.com/technologies/blockchain/tutorials/
        	develop-a-blockchain-application-from-scratch-in-python/#1-store-transactions-into-blocks">
				https://developer.ibm.com/technologies/blockchain/tutorials/
				develop-a-blockchain-application-from-scratch-in-python/#1-store-transactions-into-blocks
			</a>

        </h4>
	</center>

	<br>

{% endblock %}